Repository vincentscdc/golang-common: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-all, trigger-transport-http-handlerwrap, trigger-transport-http-middleware-cryptouseruuid, trigger-monitoring-otelinit, trigger-config-secrets, trigger-database-pginit

docs: update README
  transport/http/handlerwrap/README.md
Due: trigger-transport-http-handlerwrap

fix: add GOPRIVATE and github token (#65)
  .github/workflows/config_secrets.bench.yml
  .github/workflows/database_pginit.bench.yml
  .github/workflows/monitoring_otelinit.bench.yml
  .github/workflows/transport_http_handlewrap.bench.yml
  .github/workflows/transport_http_middleware_cryptouseruuid.bench.yml
  config/secrets/go.mod
  config/secrets/go.sum
  database/pginit/go.mod
  database/pginit/go.sum
Due: trigger-config-secrets, trigger-database-pginit

feat: use golangci-lint 1.47 (#66)
  .circleci/config_package.yml
  .golangci.toml
  config/secrets/.golangci.toml
  database/pginit/.golangci.toml
  monitoring/otelinit/.golangci.toml
  transport/http/handlerwrap/.golangci.toml
  transport/http/middleware/cryptouseruuid/.golangci.toml
Due: trigger-all, trigger-transport-http-handlerwrap, trigger-transport-http-middleware-cryptouseruuid, trigger-monitoring-otelinit, trigger-config-secrets, trigger-database-pginit

fix: benchs (#67)
  .github/workflows/config_secrets.bench.yml
  .github/workflows/database_pginit.bench.yml
  .github/workflows/monitoring_otelinit.bench.yml
  .github/workflows/transport_http_handlewrap.bench.yml
  .github/workflows/transport_http_middleware_cryptouseruuid.bench.yml
Due: none

refactor: centralize golangci config in the root folder
  config/secrets/.golangci.toml
  config/secrets/Makefile
  database/pginit/.golangci.toml
  database/pginit/Makefile
  monitoring/otelinit/.golangci.toml
  monitoring/otelinit/Makefile
  transport/http/handlerwrap/.golangci.toml
  transport/http/handlerwrap/Makefile
  transport/http/middleware/cryptouseruuid/.golangci.toml
  transport/http/middleware/cryptouseruuid/Makefile
Due: trigger-transport-http-handlerwrap, trigger-transport-http-middleware-cryptouseruuid, trigger-monitoring-otelinit, trigger-config-secrets, trigger-database-pginit

chore(changelog): update CHANGELOG.md for
  config/secrets/CHANGELOG.md
Due: trigger-config-secrets

chore(changelog): update CHANGELOG.md for
  database/pginit/CHANGELOG.md
Due: trigger-database-pginit

chore(changelog): update CHANGELOG.md for
  transport/http/middleware/cryptouseruuid/CHANGELOG.md
Due: trigger-transport-http-middleware-cryptouseruuid

chore(changelog): update CHANGELOG.md for
  transport/http/handlerwrap/CHANGELOG.md
Due: trigger-transport-http-handlerwrap

chore(changelog): update CHANGELOG.md for
  monitoring/otelinit/CHANGELOG.md
Due: trigger-monitoring-otelinit

docs(readme): update latest versions
  README.md
Due: none

chore: simplification of the CI
  .circleci/config.yml
  .circleci/config_package.yml
  Makefile
  README.md
  transport/http/handlerwrap/Makefile
Due: trigger-all, trigger-transport-http-handlerwrap

refactor: simplify further
  .circleci/config.yml
Due: trigger-all

fix: put back workspace directory
  .circleci/config.yml
Due: trigger-all

fix: executor
  .circleci/config.yml
Due: trigger-all

fix: go executor
  .circleci/config.yml
Due: trigger-all

fix: syntax
  .circleci/config.yml
  Makefile
Due: trigger-all

fix: linter handlerwrap
  transport/http/handlerwrap/error_response.go
  transport/http/handlerwrap/response.go
Due: trigger-transport-http-handlerwrap

fix: machine executor
  .circleci/config.yml
Due: trigger-all

fix: shell issue
  .circleci/config.yml
  Makefile
Due: trigger-all

refactor: use a common var for mod list
  Makefile
Due: none

refactor: centralize golangci config in the root folder (#69)
  .circleci/config.yml
  .circleci/config_package.yml
  Makefile
  config/secrets/.golangci.toml
  config/secrets/CHANGELOG.md
  config/secrets/Makefile
  database/pginit/.golangci.toml
  database/pginit/CHANGELOG.md
  database/pginit/Makefile
  monitoring/otelinit/.golangci.toml
  monitoring/otelinit/CHANGELOG.md
  monitoring/otelinit/Makefile
  transport/http/handlerwrap/.golangci.toml
  transport/http/handlerwrap/CHANGELOG.md
  transport/http/handlerwrap/Makefile
  transport/http/handlerwrap/error_response.go
  transport/http/handlerwrap/response.go
  transport/http/middleware/cryptouseruuid/.golangci.toml
  transport/http/middleware/cryptouseruuid/CHANGELOG.md
  transport/http/middleware/cryptouseruuid/Makefile
Due: trigger-all, trigger-transport-http-handlerwrap, trigger-transport-http-middleware-cryptouseruuid, trigger-monitoring-otelinit, trigger-config-secrets, trigger-database-pginit

feat: add transport/http/middleware/requestlogger
  .circleci/config_package.yml
  .github/workflows/transport_http_middleware_requestlogger.bench.yml
  go.work
  transport/http/middleware/requestlogger/.gitignore
  transport/http/middleware/requestlogger/.golangci.toml
  transport/http/middleware/requestlogger/Makefile
  transport/http/middleware/requestlogger/README.md
  transport/http/middleware/requestlogger/cliff.toml
  transport/http/middleware/requestlogger/go.mod
  transport/http/middleware/requestlogger/go.sum
  transport/http/middleware/requestlogger/requestlogger.go
  transport/http/middleware/requestlogger/requestlogger_test.go
Due: trigger-all

docs: add new module transport/http/middleware/requestlogger
  README.md
Due: none

refactor: centralize golangci config in the root folder
  transport/http/middleware/requestlogger/.golangci.toml
  transport/http/middleware/requestlogger/Makefile
Due: none

feat: use go module instead of git tag (#73)
  Makefile
Due: none

docs: remove reference to complex circleci config
  README.md
Due: none

feat: add goleak
  transport/http/middleware/requestlogger/requestlogger_test.go
Due: none

fix: bench
  .circleci/config_package.yml
  .github/workflows/transport_http_middleware_requestlogger.bench.yml
Due: trigger-all

chore: go mod tidy
  transport/http/middleware/requestlogger/go.mod
  transport/http/middleware/requestlogger/go.sum
Due: none

feat: add transport/http/middleware/requestlogger (#64)
  .github/workflows/transport_http_middleware_requestlogger.bench.yml
  README.md
  go.work
  transport/http/middleware/requestlogger/.gitignore
  transport/http/middleware/requestlogger/CHANGELOG.md
  transport/http/middleware/requestlogger/Makefile
  transport/http/middleware/requestlogger/README.md
  transport/http/middleware/requestlogger/cliff.toml
  transport/http/middleware/requestlogger/go.mod
  transport/http/middleware/requestlogger/go.sum
  transport/http/middleware/requestlogger/requestlogger.go
  transport/http/middleware/requestlogger/requestlogger_test.go
Due: none

feat: set duration in ms
  transport/http/middleware/requestlogger/requestlogger.go
Due: none

chore(changelog): update CHANGELOG.md for transport/http/middleware/requestlogger/v1.0.1
  transport/http/middleware/requestlogger/CHANGELOG.md
Due: none

refactor(cryptouseruuid): docs and refactor (#76)
  transport/http/middleware/cryptouseruuid/README.md
  transport/http/middleware/cryptouseruuid/cryptouseruuid.go
  transport/http/middleware/cryptouseruuid/example_test.go
  transport/http/middleware/cryptouseruuid/useruuid.go
  transport/http/middleware/cryptouseruuid/useruuid_test.go
Due: trigger-transport-http-middleware-cryptouseruuid

feat: add example requestlogger (#77)
  transport/http/middleware/requestlogger/README.md
  transport/http/middleware/requestlogger/example_test.go
  transport/http/middleware/requestlogger/requestlogger_test.go
Due: none

chore: update versions
  .circleci/config.yml
Due: trigger-all

Path conditions:
  trigger-all: any of: .circleci/.*
  trigger-transport-http-handlerwrap: any of: transport/http/handlerwrap/.*
  trigger-transport-http-middleware-cryptouseruuid: any of: transport/http/middleware/cryptouseruuid/.*
  trigger-monitoring-otelinit: any of: monitoring/otelinit/.*
  trigger-config-secrets: any of: config/secrets/.*
  trigger-database-pginit: any of: database/pginit/.*
